.footer {
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 5%;
            text-align: center;
            background-color: #262c7c;
            color: white;
          }