.footer {
            position:sticky;
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 5%;
            text-align: center;
            background: linear-gradient(
            90deg,
            rgb(45, 21, 127) 0%,
            rgb(22, 184, 182) 100%
          );
            color: white;
          }